
.points > .appeal {
  color: red;
}
.points > .jamming {
  color: black;
}
.cool > a {
  color: red;
  font-weight: bold;
}
.beautiful > a {
  color: blue;
  font-weight: bold;
}
.cute > a {
  color: magenta;
  font-weight: bold;
}
.clever > a {
  color: green;
  font-weight: bold;
}
.tough > a {
  color: darkorange;
  font-weight: bold;
}
