
body {
  padding: 16px;
}

.points > .appeal {
  color: red;
}
.points > .jamming {
  color: black;
}
.cool > a {
  color: red;
  font-weight: bold;
}
.beautiful > a {
  color: blue;
  font-weight: bold;
}
.cute > a {
  color: magenta;
  font-weight: bold;
}
.clever > a {
  color: green;
  font-weight: bold;
}
.tough > a {
  color: darkorange;
  font-weight: bold;
}

h1,h2,h3,h4,h5,h6 {
  a:link, a:visited {
    color: black;
    text-decoration: none;
  }

  a:hover, a:focus {
    text-decoration: underline;
  }

  a:active {
    background-color: transparent;
  }

  a[href^="#"] {
    &::before {
      color: gainsboro;
      content: "#";
      display: inline-block;
      margin-left: -0.8em;
      text-decoration: none;
      visibility: hidden;
    }

    &:hover {
      &::before {
        visibility: visible;
      }
    }
  }
}

nav {
  border-bottom: 1px solid black;
}

.crumbs ol {
  list-style-type: none;
  padding-left: 0;
}

.crumb {
  display: inline-block;
}

.crumb a::after {
  display: inline-block;
  color: #000;
  content: '>';
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
}
